* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#gadgets{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background: #f9f9f9;
  display: inline-block;
  vertical-align: top;
}
  
body{
  background-color: #efe9e3;
}

#numofcart {
  color: white;
  background-color: red;
  padding: 1px 6px;
  border-radius: 50px;
  font-size: 10px;
  position: relative;
  right: 15px;
  top: 7px;
}

#nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  width: 100%;
  background-color: #f9f8f6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

#nav-bar h4{
  margin: 0px;
  font-size: 24px;
  right: 380px;
}

#nav-bar a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

#nav-bar ul{
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}


#right-icons {
  display: flex;
  align-items: center;
  gap: 10px; 
}

#right-icons a i {
  font-size: 26px;
  color: black;
  cursor: pointer;
}

#right-icons div i {
  font-size: 26px;
  color: black;
  cursor: pointer;
  display: none;
}

#footer-container {
  display: grid;
  justify-content: space-around;
  gap: 10px;
  background-color: #D9CFC7;
  padding: 20px;
  margin-top: 50px;
  width: 100%;
}

#footer-brand h4 {
  font-size: 20px;
  color: black;
  text-align: center;
}

#footer-brand p {
  margin-top: 5px;
  color: black;
  text-align: center;
}

#footer-social {
  font-size: 20px;
  color: black;
  text-align: center;
}

#icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#footer-social i {
  color: black;
  cursor: pointer;
}

#footer-bottom {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  color: black;
  border-top: 1px solid black;
  padding-top: 16px;
}

#menu-bar {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 480px) {
  #menu-bar {
    display: block;
  }

  #nav-bar h4 {
    font-size: 20px;
  }

   #right-icons div i {
    display: block;
  }

  #nav-bar h4 {
    font-size: 20px;
  }

  #nav-bar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f9f8f6;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  #nav-bar:hover ul {
    display: flex;
  }

  #right-icons {
    gap: 8px;
  }

  #menu-bar:hover ~ ul {
    display: flex;
  }

  #nav-bar ul:hover {
    display: flex;
  }

  #right-icons {
    gap: 8px;
  }
  #numofcart{
    right: 55px;
    top: 5;
  }
}
